# Auto Normalize All Text Files To LF In Repo, Use CRLF In Working Directory On Windows
* text=auto
# Explicitly Declare File Types (Optional But Safer)
*.c		text
*.cpp	text
*.h		text
*.cs	text
*.txt	text
*.md	text
*.xml	text
*.json	text
*.html	text
*.css	text
*.js	text
*.ts	text
*.svg	text
*.csv	text
*.ini	text
*.yaml	text
*.yml	text
*.gvl   linguist-language=Pascal
*.typ   linguist-language=Pascal
*.st    linguist-language=Pascal